<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About Meadowlark</h1>
<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
</body>
</html>