<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hood River Tour</h1>
    <a class="requestGroupRate" href="/tours/request-group-rate">Request Group Rate.</a>
</body>
</html>